.fieldContainer {
    display: flex;
    border: 1px solid #000;
    border-radius: 8px;
    max-width: 246px;
    flex-wrap: wrap;
}

.fieldButton {
    max-height: 40px;
    max-width: 40px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}